In [ ]:
%pip install pandas lxml --upgrade

In [3]:
import pandas as pd

URL = "https://en.wikipedia.org/wiki/List_of_world_records_in_swimming"

In [5]:
tables = pd.read_html(URL)

In [9]:
tables[0].head()

,Event,Time,Unnamed: 2,Name,Nationality,Date,Meet,Location,Ref
0,50m freestyle,20.91,ss,César Cielo,Brazil,18 December 2009,Brazilian Championships,"São Paulo, Brazil",[9][10][11][12]
1,100m freestyle,46.40,NaN,Pan Zhanle,China,31 July 2024,Olympic Games,"Paris, France",[13]
2,200m freestyle,1:42.00,ss,Paul Biedermann,Germany,28 July 2009,World Championships,"Rome, Italy",[14][15][16]
3,400m freestyle,3:39.96,NaN,Lukas Märtens,Germany,12 April 2025,Swim Open Stockholm,"Stockholm, Sweden",[17]
4,800m freestyle,7:32.12,ss,Zhang Lin,China,29 July 2009,World Championships,"Rome, Italy",[18][19]

In [14]:
df = tables[0][["Event", "Time"]]

In [12]:
df.head()

            Event     Time
0   50m freestyle    20.91
1  100m freestyle    46.40
2  200m freestyle  1:42.00
3  400m freestyle  3:39.96
4  800m freestyle  7:32.12

In [16]:
df.to_dict()

{'Event': {0: '50m freestyle',
  1: '100m freestyle',
  2: '200m freestyle',
  3: '400m freestyle',
  4: '800m freestyle',
  5: '1500m freestyle',
  6: '50m backstroke',
  7: '100m backstroke',
  8: '200m backstroke',
  9: '50m breaststroke',
  10: '100m breaststroke',
  11: '200m breaststroke',
  12: '50m butterfly',
  13: '100m butterfly',
  14: '200m butterfly',
  15: '200m individual medley',
  16: '400m individual medley',
  17: '4 × 100 m freestyle relay',
  18: '4 × 200 m freestyle relay',
  19: '4 × 100 m medley relay'},
 'Time': {0: '20.91',
  1: '46.40',
  2: '1:42.00',
  3: '3:39.96',
  4: '7:32.12',
  5: '14:30.67',
  6: '23.55',
  7: '51.60',
  8: '1:51.92',
  9: '25.95',
  10: '56.88',
  11: '2:05.48',
  12: '22.27',
  13: '49.45',
  14: '1:50.34',
  15: '1:54.00',
  16: '4:02.50',
  17: '3:08.24',
  18: '6:58.55',
  19: '3:26.78'}}

In [17]:
df.tail()

                        Event     Time
15     200m individual medley  1:54.00
16     400m individual medley  4:02.50
17  4 × 100 m freestyle relay  3:08.24
18  4 × 200 m freestyle relay  6:58.55
19     4 × 100 m medley relay  3:26.78

In [20]:
df = df[~df["Event"].str.contains("relay")]

In [21]:
df.to_dict("records")

[{'Event': '50m freestyle', 'Time': '20.91'},
 {'Event': '100m freestyle', 'Time': '46.40'},
 {'Event': '200m freestyle', 'Time': '1:42.00'},
 {'Event': '400m freestyle', 'Time': '3:39.96'},
 {'Event': '800m freestyle', 'Time': '7:32.12'},
 {'Event': '1500m freestyle', 'Time': '14:30.67'},
 {'Event': '50m backstroke', 'Time': '23.55'},
 {'Event': '100m backstroke', 'Time': '51.60'},
 {'Event': '200m backstroke', 'Time': '1:51.92'},
 {'Event': '50m breaststroke', 'Time': '25.95'},
 {'Event': '100m breaststroke', 'Time': '56.88'},
 {'Event': '200m breaststroke', 'Time': '2:05.48'},
 {'Event': '50m butterfly', 'Time': '22.27'},
 {'Event': '100m butterfly', 'Time': '49.45'},
 {'Event': '200m butterfly', 'Time': '1:50.34'},
 {'Event': '200m individual medley', 'Time': '1:54.00'},
 {'Event': '400m individual medley', 'Time': '4:02.50'}]

In [22]:
df = df.set_index("Event")
df.head()

                   Time
Event
50m freestyle     20.91
100m freestyle    46.40
200m freestyle  1:42.00
400m freestyle  3:39.96
800m freestyle  7:32.12

In [23]:
df.to_dict()

{'Time': {'50m freestyle': '20.91',
  '100m freestyle': '46.40',
  '200m freestyle': '1:42.00',
  '400m freestyle': '3:39.96',
  '800m freestyle': '7:32.12',
  '1500m freestyle': '14:30.67',
  '50m backstroke': '23.55',
  '100m backstroke': '51.60',
  '200m backstroke': '1:51.92',
  '50m breaststroke': '25.95',
  '100m breaststroke': '56.88',
  '200m breaststroke': '2:05.48',
  '50m butterfly': '22.27',
  '100m butterfly': '49.45',
  '200m butterfly': '1:50.34',
  '200m individual medley': '1:54.00',
  '400m individual medley': '4:02.50'}}

In [25]:
records = {}
records["LC MEN"] = df.to_dict()["Time"]

In [26]:
records

{'LC MEN': {'50m freestyle': '20.91',
  '100m freestyle': '46.40',
  '200m freestyle': '1:42.00',
  '400m freestyle': '3:39.96',
  '800m freestyle': '7:32.12',
  '1500m freestyle': '14:30.67',
  '50m backstroke': '23.55',
  '100m backstroke': '51.60',
  '200m backstroke': '1:51.92',
  '50m breaststroke': '25.95',
  '100m breaststroke': '56.88',
  '200m breaststroke': '2:05.48',
  '50m butterfly': '22.27',
  '100m butterfly': '49.45',
  '200m butterfly': '1:50.34',
  '200m individual medley': '1:54.00',
  '400m individual medley': '4:02.50'}}

In [28]:
RECORDS = (0, 1, 3, 4)
COURSES = ("LC MEN", "LC WOMEN", "SC MEN", "SC WOMEN")

In [37]:
records = {}
tables = pd.read_html(URL)
for table, course in zip(RECORDS, COURSES):
    df = tables[table][["Event", "Time"]]
    df = df[~df["Event"].str.contains("relay")]
    df = df.set_index("Event")
    records[course] = df.to_dict()["Time"]

In [42]:
import json

with open("records.json") as jf:
    gazpacho_records = json.load(jf)

In [43]:
records == gazpacho_records

True

In [44]:
records["SC WOMEN"]["100m butterfly"]

'52.71'

In [45]:
gazpacho_records["SC WOMEN"]["100m butterfly"]

'52.71'